.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1fr;
    padding: 1.5rem;
    background: #63988d;

    .logo {
        color: #fff;
    }

    nav {
        display: flex;

        a {
            margin-left: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
