.container {
    max-width: 100vw;

    .content {
        padding: 0.5rem;
        min-height: calc(100vh - 6rem);
    }

    footer {
        text-align: center;
        font-size: 0.75rem;
    }
}
