@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
}
